{% extends 'base.html.twig' %}

{% block title %}Modifier pointages{% endblock %}

{% block body %}
    <h1>Modifier pointages</h1>

    {{ include('pointages/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('pointages/_delete_form.html.twig') }}
{% endblock %}
