{% extends 'base.html.twig' %}

{% block title %}Edit Chantiers{% endblock %}

{% block body %}
    <h1>Edit Chantiers</h1>

    {{ include('chantiers/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('chantiers/_delete_form.html.twig') }}
{% endblock %}
